html
  font-size 62.5%

  @media (min-width: 600px)
    font-size 65.625%

  @media (min-width: 900px)
    font-size 68.75%

body
  color $dark-text-color-primary
  font-family 'Ubuntu', sans-serif
  font-size 1.6rem
  line-height 1.2

button
  appearance none
  background-color transparent
  cursor pointer

a
  color inherit
  text-decoration none

article
  background-color $light-text-color-primary
  margin 0 2.5rem 2.5rem
  padding 3rem

  h1
  h2
  h3
  h4
  h5
  h6
    margin-bottom 2rem

  h1
    font-size 5rem

  h2
    font-size 4rem

  h3
    font-size 3rem

  h4
    font-size 2rem

  h5
    font-size 1.5rem

  h6
    font-size 1rem

  p
    font-size 2.2rem
    margin-bottom 2.2rem

  ol
  ul
    font-size 1.9rem
    list-style-position inside
