$brand-color = #607D8B
$brand-color-light = #607D8B
$brand-color-lighter = #ECEFF1
$brand-color-dark = #263238

$accent-color = #00BCD4
$accent-color-light = #B2EBF2
$accent-color-dark = #006064

$light-text-color-primary = #fff
$light-text-color-secondary = rgba(255, 255, 255, .7)
$light-text-color-disabled = rgba(255, 255, 255, .5)

$dark-text-color-primary = rgba(0, 0, 0, .87)
$dark-text-color-secondary = rgba(0, 0, 0, .54)
$dark-text-color-disabled = rgba(0, 0, 0, .38)

$shadow-key-umbra-opacity = .2
$shadow-key-penumbra-opacity = .14
$shadow-ambient-shadow-opacity = .12

$facebook-color = #3b5998
$google-plus-color = #dd4b39
$linkedin-color = #007bb6
$twitter-color = #00aced
$pinterest-color = #cb2027
$tumblr-color = #385774
$whatsapp-color = #34af23
$telegram-color = #0088cc
$email-color = #003366
