$brand-color = #607D8B
$brand-color-light = #607D8B
$brand-color-dark = #263238

$accent-color = #00BCD4
$accent-color-light = #B2EBF2
$accent-color-dark = #006064

$light-text-color-primary = #fff
$light-text-color-secondary = rgba(255, 255, 255, .7)
$light-text-color-disabled = rgba(255, 255, 255, .5)

$dark-text-color-primary = rgba(0, 0, 0, .87)
$dark-text-color-secondary = rgba(0, 0, 0, .54)
$dark-text-color-disabled = rgba(0, 0, 0, .38)
