<nav class="share">
  <h3 class="share__title">Compartilhar:</h3>
  <ul class="share__list">
    <li class="share__item">
      <a
        href="https://facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
        title="Compartilhar no Facebook"
        rel="noopener"
        target="_blank">
        <svg class="share__icon share__icon--facebook">
          <use xlink:href="#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a
        href="https://twitter.com/intent/tweet/?text={{page.description}}&url={{site.url}}{{page.url}}"
        title="Compartilhar no Twitter"
        rel="noopener"
        target="_blank">
        <svg class="share__icon share__icon--twitter">
          <use xlink:href="#twitter"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a
        href="https://plus.google.com/share?url={{site.url}}{{page.url}}"
        title="Compartilhar no Google+"
        rel="noopener"
        target="_blank">
        <svg class="share__icon share__icon--google-plus">
          <use xlink:href="#google-plus"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a
        href="https://www.tumblr.com/widgets/share/tool?posttype=link&title={{page.description}}&caption={{page.description}}&content={{site.url}}{{page.url}}&canonicalUrl={{site.url}}{{page.url}}&shareSource=tumblr_share_button"
        title="Compartilhar no Tumblr"
        rel="noopener"
        target="_blank">
        <svg class="share__icon share__icon--tumblr">
          <use xlink:href="#tumblr"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a
        href="https://pinterest.com/pin/create/button/?url={{site.url}}{{page.url}}&media={{site.url}}{{page.url}}&description={{page.description}}"
        title="Compartilhar no Pinterest"
        rel="noopener"
        target="_blank">
        <svg class="share__icon share__icon--pinterest">
          <use xlink:href="#pinterest"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a
        href="https://www.linkedin.com/shareArticle?mini=true&url={{page.description}}&title={{page.description}}&summary={{page.description}}&source={{site.url}}{{page.url}}"
        title="Compartilhar no LinkedIn"
        rel="noopener"
        target="_blank">
        <svg class="share__icon share__icon--linkedin">
          <use xlink:href="#linkedin"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a
        href="mailto:?subject={{page.description}}&body={{site.url}}{{page.url}}"
        title="Compartilhar por Email">
        <svg class="share__icon share__icon--email">
          <use xlink:href="#email"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a
        href="whatsapp://send?text={{page.description}}%20{{site.url}}{{page.url}}"
        title="Compartilhar no WhatsApp">
        <svg class="share__icon share__icon--whatsapp">
          <use xlink:href="#whatsapp"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a
        href="https://telegram.me/share/url?text={{page.description}}&url={{site.url}}{{page.url}}"
        title="Compartilhar no Telegram"
        rel="noopener"
        target="_blank">
        <svg class="share__icon share__icon--telegram">
          <use xlink:href="#telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>
