.container
  background-color $light-text-color-primary
  margin 0 1rem 1rem
  padding 3rem

  @media screen and (min-width: 350px)
    margin 0 1.5rem 1.5rem

  @media screen and (min-width: 600px)
    margin 0 2.5rem 2.5rem
