.header
  align-items center
  display flex
  flex-direction row
  justify-content space-between
  padding 1rem

  @media screen and (min-width: 350px)
    padding 1.5rem

  @media screen and (min-width: 600px)
    padding 2.5rem

  &__title
    font-size 0
    overflow hidden

    &:hover
    &:focus
      &:before
        color $accent-color-light

    &:before
      color $light-text-color-primary
      content 'LM'
      font-family 'Over the Rainbow', cursive
      font-size 1.8rem

      @media (min-width: 600px)
        content 'Live the moment'
