.header
  align-items center
  display flex
  flex-direction row
  justify-content space-between
  padding 1rem

  @media screen and (min-width: 350px)
    padding 1.5rem

  @media screen and (min-width: 600px)
    padding 2.5rem

  &__title
    color $light-text-color-primary
    font-family 'Over the Rainbow', cursive
    font-size 1.8rem
