.share
  margin-bottom 2rem

  &__title
    font-size 2rem
    margin-bottom 1rem

  &__list
    list-style none

  &__item
    display inline-block

  &__icon
    border-radius 50%
    fill $light-text-color-primary
    height 3rem
    padding .5rem
    width 3rem

    &--facebook
      background-color $facebook-color

    &--google-plus
      background-color $google-plus-color

    &--linkedin
      background-color $linkedin-color

    &--twitter
      background-color $twitter-color

    &--pinterest
      background-color $pinterest-color

    &--tumblr
      background-color tumblr-color

    &--whatsapp
      background-color $whatsapp-color

    &--telegram
      background-color $telegram-color

    &--email
      background-color $email-color
