---
layout: default
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
  	<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live the moment</title>
    
    <link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  	<main>
    	{{ content }}
  	</main>

    <script src="assets/js/main.js"></script>
  </body>
</html>
