---
layout: default
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
  	<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live the moment</title>
    <meta name="theme-color" content="#01579B">
    
    <link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% include svg-icons.html %}
    <div class="wrapper">
      <header>
        <nav class="menu-offcanvas">
          <button class="menu-offcanvas__icon js-button-offcanvas">Menu<span class="menu-offcanvas__icon-bar"></span></button>
          <div class="menu-offcanvas__overlay js-overlay-offcanvas"></div>
          <ul class="menu-offcanvas__list js-menu-offcanvas">
            <li class="menu-offcanvas__item">
              Live the moment
            </li>
            <li class="menu-offcanvas__item">
              <button>Decoração</button>
            </li>
            <li class="menu-offcanvas__item">
              <button>Viagens</button>
            </li>
            <li class="menu-offcanvas__item">
              <button>Entretenimento</button>
            </li>
            <li class="menu-offcanvas__item">
              <button>Economia</button>
            </li>
            <li class="menu-offcanvas__item">
              <button>Tutoriais</button>
            </li>
          </ul>
        </nav>
        <h1>
          Live the moment
        </h1>
      </header>
    	<main>
      	{{ content }}
    	</main>
    </div>

    <script src="assets/js/main.js"></script>
  </body>
</html>
