---
layout: post
---
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="theme-color" content="#01579B">

    <link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% include svg-icons.html %}
    <div class="wrapper">
      {% include header.html %}
      <main>
        <article>
          <a href="/{{page.categories}}" title="Veja a categoria de {{page.categories}}">{{ page.categories }}</a> >
          <h1>{{ page.title }}</h1>
          {{ content }}
        </article>
      </main>
    </div>

    <script src="/assets/js/main.js"></script>
  </body>
</html>
